{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}
{% block activeBlog %}active{% endblock activeBlog %}
{% block body %}
<div class="container my-3">
    <h2 class="text-center">Coding Articles by iCoder</h2>

    <!-- showing post 😎-->
    {% for i in posts %}
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <a href="/blog/{{i.slug}}"><strong class="d-inline-block mb-2 text-primary">Post By :
                        {{i.author}}</strong></a>
                <h3 class="mb-0"><a href="/blog/{{i.slug}}" class="text-dark"
                        style="text-decoration: auto">{{i.title}}</a></h3>
                <div class="mb-1 text-muted">{{i.timeStamp}}</div>
                <p class="card-text mb-auto">
                    <div class="contentPrview">{{i.content|safe|truncatechars:310}}</div>
                </p>
                <a href="/blog/{{i.slug}}"><button class="btn btn-primary mt-3 p-2 btn-sm">Continue Reading</button></a>

            </div>
            <div class="col-auto d-flex align-items-center">
                <img src="/media/{{i.image}}" class="img-thumbnail" style="width:280px; height: 180px;;"
                    alt="{{i.title}} image">
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock body %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('contentPrview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}